.totale{
    height:100% !important;;
    width:100% !important;;    
}
.assoluto{
    position: absolute !important;
}
.relativo{
    position: relative !important;
}
.origine{ top: 0px; left: 0px;}
.sfondo-nero{background-color: black;}
.sfondo-bianco{background-color: white;}
.barra{
    position: absolute;
    bottom: 54%;
    left: 90%;
    width: 30px;
    height: 10px;
    background-color: black;
}
.quadrato {
    display: block;
    border: 4px solid black;
    height: 50px;
    width: 50px;
    bottom: 50%;
    left:50%;
    margin: 0;
  }
  .terreno{
    position: absolute;
    bottom: 45%;
    width: 100%;
    height: 5%;
    background-color: black;
  }
  .score{
      font-size:100% ;
      text-align: center;
      vertical-align: middle;
      color: black;
      border-radius: 5%;
      left:10%;
      width:10%;
      height:10%;
      border:10px solid rgb(53, 53, 46);
  }
  
  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}